.header {
  border-bottom: 1px solid rgb(234 236 240);
  display: flex;
  align-items: center;
  height: 44px;
  padding-inline: 0.75rem;

  .header-title {
    flex: 1;
    text-align: center;
  }
}
